# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/11155111/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

venv
tools
tests

*/__pycache__/

node_modules/

# Compiled source
*_pie.zip
hdp-cairo